<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio Manager</title>
        <style>
                body{background: #003300; font-family: ubuntu; color: #ffffff; padding: 30px;}
                h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
                p{font-size: 25px; text-align: center;}
        </style>
    </head>

    <body>
        <p style="text-align: right;"><a href="/logout" style="color: white">
            Logout</a></p>
        <h2 style="text-align: center; font-size: 40px;">Portfolio Management</h2>
        <p><a href="/watch-list" style="color: white">My Watch List</a></p>
        <p><a href="/stock-list" style="color: white">List of all stocks</a></p>
    </body>
</html>
