<!DOCTYPE html>
<html>
    <head>
        Hi There!
    </head>

    <body>
        <h1>Welcome to the most awesome website on the net!</h1>
        <p>You won't find a better website anywhere else!</p>
    </body>
</html>
