<!DOCTYPE html>
<html>
    <head>
        <title>
        	Portfolio
        </title>
        <style>
                body{background: #003300; font-family: ubuntu; color: #ffffff; padding: 30px;}
                h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
                p{font-size: 25px; text-align: center;}
        </style>
    </head>

    <body>
        <h2 style="text-align: center; font-size: 40px;">Welcome to Portfolio Management</h2>
        <p><%= message %></p>
        <div style="text-align: center;">
            <form action="/login" method="POST">
                <p>Username <input type="input" name="username", value="<%= username%>"></p>
                <p>Password <input type="password" name="password"></p>
                <br>
                <input type="submit" name="login" value="Login">
            </form>
        </div>

        <br>
        <p>Don't have an account? Click <a href="/signup" style="color: white; ">here</a> to sign up for free now!</p>
    </body>
</html>
