<!DOCTYPE html>
<html>
    <head>
        <title>
        	MSFT
        </title>
        <style>
                body{background: #003300; font-family: ubuntu; color: #ffffff; padding: 30px;}
                h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
                p{font-size: 16px; line-height: 0.6; text-align: center;}
        </style>
    </head>

    <body>
        <h1>Microsoft Corperation</h1>
        <% for(x in data["Time Series (60min)"]) { %>
            <p><%= x %> : $<%= data["Time Series (60min)"][x]["1. open"] %></p>
        <% }; %>
    </body>
</html>
