<html>
<head>
<link rel="stylesheet" href="/css/navbar.css">
<div class="topnav">
  <a href="/logout" style = "float: right;">Logout</a>
  <a href="/watch-list">My Watch List</a>
  <a href="/stock-list" style>List of Stocks</a>
</div>
</head>
</html>