<%- include('navbar') -%>
<link rel="stylesheet" href="/css/table.css">
<title>
     Portfolio
</title>
<div id = "link">
  <table class = "container">
        <tbody>
        <% data.forEach(function(item) { %>
          <tr>
            <td><%= item.ShareName %></td>
            <td><h1><a href="/share/<%= item.Symbol %>">
            <button style="    background-color: #4CAF50;
                               padding: 8px 20px;
                               text-align: center;
                               text-decoration: none;
                               font-size: 16px;
                               margin-top : 8%;
                               margin-left : 20%;
                               border-radius: 20px;
                               border: 1px solid;
                               width: 50%;">
            View</button></a></h1></td>
          </tr>
        <% }); %>
        </tbody>
  </table>
</div>